- const logoSrc = "../assets/images/logo.png"
- const menuData = [{ "label" :"giới thiệu", "subMenu" : [ { "label" : "Giới thiệu chung", "link": "#" }, { "label" :"Hệ thống của hàng", "subMenu": [ {"label": "Hệ thống của hàng A", "link": "#"}, {"label": "Hệ thống của hàng A1", "link": "#"},{ "label": "Hệ thống của hàng A2", "link": "#"}, {"label": "Hệ thống của hàng A3", "link": "#"}, ]}, {"label" :"Chính sách ưu đãi", "link": "#"}, {"label" :"Thông tin tuyển dụng", "link": "#"}, ] }, {"label" :"sản phẩm", "link": "/product-grid.html"}, {"label" :"tin khuyến mại", "link": "#"}, {"label" :"dịch vụ", "link": "#"}, {"label" :"liên Hệ", "link": "#"}]
- const megaMenu = [ {title : "Máy khoan đa năng cnc", listItem: [ {label: "Máy khoan CNC điện", link: "#"}, {label: "Máy phay đa năng 3R", link: "#"}, {label: "Máy hàn, cắt kim loại", link: "#"}, {label: "Máy in phun tích điện", link: "#"}, {label: "Máy ép gỗ chuẩn Nano", link: "#"}, ]}, {title : "Máy cắt plasmar", listItem: [ {label: "Máy khoan CNC điện", link: "#"}, {label: "Máy phay đa năng 3R", link: "#"}, {label: "Máy hàn, cắt kim loại", link: "#"}, {label: "Máy in phun tích điện", link: "#"}, {label: "Máy ép gỗ chuẩn Nano", link: "#"}, ]}, {title : "Máy phay công nghiệp", listItem: [ {label: "Máy khoan CNC điện", link: "#"}, {label: "Máy phay đa năng 3R", link: "#"}, {label: "Máy hàn, cắt kim loại", link: "#"}, {label: "Máy in phun tích điện", link: "#"}, {label: "Máy ép gỗ chuẩn Nano", link: "#"}, ]}, {title : "Máy ép nhựa thủ công", listItem: [ {label: "Máy khoan CNC điện", link: "#"}, {label: "Máy phay đa năng 3R", link: "#"}, {label: "Máy hàn, cắt kim loại", link: "#"}, {label: "Máy in phun tích điện", link: "#"}, ]}, {title : "Máy uốn tôn điện", listItem: [ {label: "Máy khoan CNC điện", link: "#"}, {label: "Máy phay đa năng 3R", link: "#"}, {label: "Máy hàn, cắt kim loại", link: "#"}, {label: "Máy in phun tích điện", link: "#"}, ]}, {title : "Máy nén khi cnc", listItem: [ {label: "Máy khoan CNC điện", link: "#"}, {label: "Máy phay đa năng 3R", link: "#"}, {label: "Máy hàn, cắt kim loại", link: "#"}, {label: "Máy in phun tích điện", link: "#"}, ]}, ]
- const megaMenuImage = "../assets/images/mega-menu-img.png"
- const productList = [{image: "../assets/images/product_1.png", name: "máy khoan black decker", quantity: '1', price: '1.250.000'},{image: "../assets/images/product_1.png", name: "máy khoan black decker", quantity: '1', price: '1.250.000'},{image: "../assets/images/product_1.png", name: "máy khoan black decker", quantity: '1', price: '1.250.000'},]
- const topSocial = [ {link:"#", class:"fa-facebook-f"},{ link:"#", class:"fa-google-plus"}, { link:"#", class:"fa-instagram"},  {link:"#", class:"fa-twitter"}, ]
  
header.header-top-wrap
    div.header-top 
        div.social
            ul.social__list 
                +socialList(topSocial, "social__item")
        div.account
            a(href="/register.html").account__item 
                span.register đăng ký
            a(href="/login.html").account__item
                span.login đăng nhập
header.header-main
    div.header__content
        div.logo
            img(src=logoSrc, alt="logo")
        div.contact
            div.contact__item
                span.title hotline :
                br
                a(href="tel:+(04) 9500 9650") 
                    span (04) 9500 9650 - (04) 9500 8850
            div.contact__item
                span.title đặt hàng nhanh :
                br
                a(href="tel:+(04) 9500 9650") 
                    span (04) 9500 9650 - (04) 9500 8850
        div.search-bar
            div.search-wrap
                input(type="text", placeholder="Tìm kiếm...")
    div.header__navbar
        nav.header-navbar__content
            button.btn.btn-dropdown-menu
                i.fa.fa-bars
            ul.navbar__list 
                li.navbar__item 
                    span Trang chủ 
                    div.header-navbar__mega-menu 
                        div.mega-menu__content
                            ul.mega-menu__list
                                +menuList(megaMenu)
                        div.mega-menu__image
                            img(src=megaMenuImage, alt="mega menu image")
                +nestedList(menuData)
            div.cart
                i.fa.fa-shopping-basket 
                    div.cart__number-product 
                        span 0
                div.cart__dropdown
                    div.cart-dropdown__content
                        ul.cart__list-product 
                            each product in productList
                                li.cart__product 
                                    div.product__image
                                        img(src=product.image, alt=product.name)
                                    div.product__content
                                        h6.product__name #{product.name}
                                        p.product__description
                                            span.quantity-order #{product.quantity}
                                            span x 
                                            span.price #{product.price} Đ
                                    div.product__remove
                                        div.icon-clear
                    div.cart__payment
                        div.total
                            p 
                                span.total__label Tổng tiền:
                                span.total__value 
                                    | 4.560.000 Đ
                        button.btn.btn--yellow thanh toán