//- - var sidebarData = { productCategories: true, priceRanger: true, listColor: true, promotion: true, newsCategories: true, picLibrary: true, tags: true, }
include ../mixin/sidebar-mixin.pug
include ../data/sidebar-data.pug

if sidebarData.productCategories
    nav.product-categories.product-sidebar
        + sidebar-item("Danh mục sản phẩm", productCategories, "bars")

if sidebarData.priceRanger
    nav.price-ranger.product-sidebar
        + sidebar-item("Tìm theo mức giá", priceRanger, "usd")  

if sidebarData.listColor
    nav.list-color.product-sidebar
        h4.heading-title
            i.fa.fa-paint-brush
            | Tìm theo màu sắc
        ul.sidebar__list 
            each color in listColor
                li.sidebar__item
                    a(href="#")
                        span(class="block-"+color.class) 
                        | #{color.label} 

if sidebarData.promotion
    nav.promotion.product-sidebar
        h4.heading-title
            i.fa.fa-gift
            | Sản phẩm khuyến mại
        ul.sidebar__list 
            each product in promotion
                li.sidebar__item
                    a.item__image(href="#") 
                        img(src=product.imgSrc, alt="product image")
                        div.item__content  
                            p.product__name #{product.name}
                            p.product__price #{product.price}

if sidebarData.newsCategories
    nav.news-categories
        + sidebar-item("Danh mục tin tức", newsCategories,)

if sidebarData.picLibrary
    nav.pic-library
        h4.heading-title Thư viện hình ảnh
        ul.sidebar__list 
            each pic in imageLibrary
                li.sidebar__item
                    img(src=pic, alt="library pic")

if sidebarData.tags
    nav.tags
        + sidebar-item("Thẻ tags", tags,)
