extends ../base/base
prepend title
  - var pageTitle = "Chi tiết sản phẩm"

block content
    include ../mixin/section-header.pug
    include ../data/product-details-data.pug

    + breadcrumbs(breadcrumbsData)
    main.product
        aside.sidebar
            include ../partials/sidebar.pug
        section.product-view 
            section.product__detail
                div.product__images
                    div.product__images--main
                        img(src="../assets/images/product-1.png", alt="product image")
                    div.product__image--sub
                        ul
                            each _ , index in Array(5)
                                li 
                                    img(src="../assets/images/product_"+(index+1)+".jpg", alt="product image")
                div.product__info
                    div.product__name
                        h6 #{data.name}
                    div.product__rate
                        div.rate 
                            each _ in Array(data.rate)
                                i.fa.fa-star
                            each _ in Array(5 - data.rate)
                                i.fa.fa-star-o
                        div.num-review ( #{data.numOfReview} Đánh giá)
                        div.separate |
                        div.comment 
                            a(href="#") Gửi bình luận của bạn
                    div.product__price
                        span GNY: #{data.price}
                    div.product__description
                        p.title Thông tin sản phẩm:
                        p.content #{data.description}
                    div.product__action
                        div.action__select
                            label(for="size") Size:
                            br 
                            div.select-wrap
                                select#size(name="size")
                                    option(value="-") - - Chọn size - -
                        div.action__select
                            label(for="color") Màu sắc: 
                            br
                            div.select-wrap
                                select#color(name="color")
                                    option(value="-") - - Chọn màu - -
                    div.product__number
                        div.input-wrap
                            input(type="number", value=1, min=0)
                            div.input-control 
                                i.fa.fa-sort-asc
                                i.fa.fa-sort-desc
                        button.btn.btn--yellow  Mua ngay 
                    div.product__share
                        div.social 
                            div.facebook
                                i.fa.fa-facebook-official
                                span Like
                            div.num-count 0
                            div.twitter
                                i.fa.fa-twitter
                                span Tweet
                            div.google-plus
                                i.fa.fa-google-plus
                                span 1
                            div.num-count 0
                        div.share
                            i.fa.fa-plus-square
                            span Share
                        
            section.product__more-info 
                ul.nav.nav-tabs
                    li.nav-item 
                        a.btn.btn--white.nav-link.active(data-toggle="tab", href="#tabs-1") Thông tin sản phẩm 
                    li.nav-item 
                        a.btn.btn--white.nav-link(data-toggle="tab", href="#tabs-2") Đánh giá - nhận xét
                    li.nav-item 
                        a.btn.btn--white.nav-link(data-toggle="tab", href="#tabs-3") Thẻ tags
                    
                div.tab-content
                    div.tab-pane.active#tabs-1
                        each paragraph in data.details 
                            p #{paragraph}
                    div.tab-pane#tabs-2     
                        | REVIEWS
                    div.tab-pane#tabs-3     
                        | TAGS
            section.suggestion
                + sectionHeader("sản phẩm tương tự")
                ul.product__list
                    each product in suggestProducts
                        + productItem(product)