include ./product-item.pug

mixin socialList(list, className)
   each item in list
      li(class=className)
          a(href=item.link) 
            i.fa(class=item.class)
            if item.title
              span #{item.title}
                    
mixin breadcrumbs(breadcrumbsData) 
  nav.breadcrumbs-wrap
    ul.breadcrumbs
        each breadcrumb in breadcrumbsData
            li 
                a(href=breadcrumb.path) #{breadcrumb.label}
                i.fa.fa-caret-right

mixin paging(pages)
  div.paging-wrap
    nav
        ul.paging
            each page in pages
                li
                    button.btn.btn--white #{page}

mixin form-input(name, label, required, type, placeholder)
  div.form__input(class=name)
    label(for=name) #{label}
      if required
        span *
    br
    input(id=name, type=type, placeholder=placeholder, required=required) 