mixin nestedList(list)
  for item in list
    li.navbar__item 
      if item.link 
        a(href=item.link) #{item.label}
      else 
        span #{item.label}
        ul.sub-menu__list 
          +nestedList(item.subMenu)

mixin menuList(list) 
  for item in list
    li.mega-menu__item
      h4.mega-menu-item__heading-title #{item.title}
      ul.mega-menu-item__list 
        for subItem in item.listItem 
          li.mega-menu__sub-item
            a(href=subItem.link) #{subItem.label}

mixin socialList(list, className)
   each item in list
      li(class=className)
          a(href=item.link) 
            i.fa(class=item.class)
            if item.title
              span #{item.title}

mixin singleList(list, className) 
  each item in list
    li(class=className)
        a(href=item.link)
            p #{item.label}