mixin productItem(product, action = true, description = false)
  li.product__item 
    div.product__image
      img(src=product.imgSrc, alt=product.name)
    div.product__info
      if !description
        div.product__price 
          span #{product.price} Đ
      div.product__name
        h6 #{product.name}
      div.product__rate 
        div.rate 
          each _ in Array(product.rate)
            i.fa.fa-star
          each _ in Array(5 -product.rate)
            i.fa.fa-star-o
        div.num-review (#{product.numOfReview} Đánh giá)
      if description 
        p.product__description #{product.description}
        div.product__price 
          span #{product.price} Đ
      if action
        div.product__action
          a(href="#").btn.btn--yellow 
            span mua ngay 
          a(href=product.src).btn.btn--black 
            span xem chi tiết
